<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335461852668-tj28n8v9l9emdsdnvqbg2ilft64kc58o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335461852668-tj28n8v9l9emdsdnvqbg2ilft64kc58o</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZywZQXB89REQNIXKiPftQcdVDrf2K4s</string>
	<key>GCM_SENDER_ID</key>
	<string>335461852668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leduy.SocialLink</string>
	<key>PROJECT_ID</key>
	<string>socialgram-23aaa</string>
	<key>STORAGE_BUCKET</key>
	<string>socialgram-23aaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335461852668:ios:128797ad186a6513c33e79</string>
</dict>
</plist>